.Contest {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-color: black !important;
}

.Contest::-webkit-scrollbar {
  width: 5px;
  background-color: #00000000;
}

.Contest::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b0e822;
}

.Contest::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #00000000;
}

.Contest__wrap {
  position: relative;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 16px 100px 16px;
  max-width: 490px;
}

div.Contest__controls {
  margin-bottom: 70px;
}

.Contest__energy {
  display: flex;
  align-items: center;
  height: 48px;
  box-sizing: border-box;
  align-self: flex-start;
}

.Contest__img {
  z-index: -1;
  position: absolute;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  left: 0;
}

.Contest__img img {
  width: 100%;
}

.ContestItem__body {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ContestItem__header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ContestItem__title {
  margin-bottom: 8px;
}

.ContestItem__date {
  box-sizing: border-box;
  width: fit-content;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.ContestItem__desc {
  max-width: 300px;
  text-align: center;
  margin-bottom: 16px;
}

.ContestPrize {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  margin-bottom: 16px;
}

.ContestPrize__title {
  margin-bottom: 16px;
}

.ContestPrize__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ended .ContestPrize__text {
  height: 48px;
  margin-left: 8px;
}

.ContestPrize__profileName {
  color: var(--main, #b0e822);
  font-size: 15px;
  font-weight: 600;
}

.ContestPrize__prizeName {
  color: var(--white, #fff);
  font-size: 15px;
  font-weight: 600;
}

.ContestPrize__fullDelimetr {
  width: 100%;
  opacity: 0.2;
  border-top: 1px solid #ffffff;
  margin: 16px 0;
}

.ContestPrize__voting {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.ContestPrize__voting:hover img {
  opacity: 0.7;
}

.ContestPrize__voting:hover .underline {
  text-decoration: underline;
  opacity: 0.7;
}

.ContestPrize__voting_text {
  text-align: left;
  width: 100%;
}

.ContestPrize__voting svg {
  width: 48px;
  height: 52px;
  flex-shrink: 0;
}

.ContestPrizes__item {
  min-height: 52px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.ContestPrize__logo {
  width: 48px;
  height: 48px;
}

.ContestPrize__logo img {
  width: 48px;
  height: 48px;
}

a.underline {
  text-decoration: none;
}

.underline {
  cursor: pointer;
}

.underline:hover {
  text-decoration: underline;
}

.ContestPrize__name {
  font-size: 15px;
}

.ContestPrizes {
  display: flex;
  flex-direction: column;
}

.ContestPrizes__delimetr {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContestPrizes__delimetr .row {
  width: 100%;
  opacity: 0.2;
  border-top: 1px solid #ffffff;
}

.ContestPrizes__delimetr img {
  margin: 0 16px;
}

.ContestPrize__rules {
  /* display: flex; */
  gap: 5px;
  align-items: center;
  font-weight: 500;
  margin-left: 65px;
  font-size: 11px;
  opacity: 0.8;
}

.ContestPrize__rules span {
  display: contents;
  font-weight: 600;
}

.ContestPrize__rules a:hover {
  text-decoration: underline;
}

.ContestPrize__rules img {
  margin-top: -2px;
  cursor: pointer;
  margin-left: 5px;
  width: 17px;
}

.InfoPopout__controls {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  justify-content: flex-end;
}

.InfoPopout__controls img {
  cursor: pointer;
}

.InfoPopout {
  overflow: auto;
  max-height: 50%;
  margin: 20px;
  top: 10%;
  max-width: 400px;
  padding: 30px;
  position: absolute;
  font-weight: 500;
  font-size: 16px;
  border-radius: 16px;
  background: #131313;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.InfoPopout::-webkit-scrollbar {
  width: 5px;
  background-color: #00000000;
}

.InfoPopout::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b0e822;
}

.InfoPopout::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #00000000;
}

.InfoPopout__list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.InfoPopout__item {
  font-weight: 500;
}

.InfoPopout__title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
}

.Contest__btn {
  margin-bottom: 24px;
}

.ContestWorks__count {
  opacity: 0.4;
}

.ContestWorks__title {
  align-items: center;
  width: 100%;
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  justify-content: flex-start;
}

.ContestWorks {
  width: 100%;
}

.ContestWork__img {
  border-radius: 24px;
  width: 100%;
  margin-bottom: 12px;
}

.ContestWork__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.ContestWork__profile {
  display: flex;
  gap: 8px;
  margin-right: 12px;
}

.ContestWork__profile_name {
  padding: 0 8px;
  font-weight: 600;
  font-size: 17px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.ContestWork__profile_prompt {
  padding: 2px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ContestWork__controls {
  box-sizing: border-box;
  gap: 5px;
  max-height: 40px;
  display: flex;
  align-items: center;
}

.ContestWork__like {
  width: 100%;
  max-width: 40px;
  gap: 8px;
  height: 40px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 100%;
}

.ContestWork__like:hover {
  background-color: #1a1a1a;
}

.ContestWork__like.ended {
  cursor: auto;
}

.ContestWork__like.ended:hover {
  background-color: #1a1a1a00;
}

.ContestWork__like span {
  font-weight: 500;
  font-size: 17px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.ContestWork__likeCount {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 32px;
  background: rgba(255, 255, 255, 0.06);
}

.ContestWork__likeCount:hover {
  background: rgba(255, 255, 255, 0.1);
}

.ContestWork__shareBtn svg {
  max-width: 40px;
  width: 100% !important;
}

.ContestWork__profile_prompt {
  padding: 4px 8px;
  cursor: pointer;
}

.ContestWork__profile_prompt:hover {
  opacity: 1;
  border-radius: 12px;
  background-color: #1a1a1a;
}

.ContestWork__profile_text {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.ContestWork__winner {
  right: 16px;
  top: 16px;
  position: absolute;
  width: 50px;
}

.ContestWork {
  position: relative;
}

.ContestsItemPrize__title img {
  width: 17px;
  margin-bottom: -2px;
}

.ContestPrize__plug {
  max-width: 48px;
  width: 100%;
}

.numeration {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.15);
  top: 15px;
  left: 15px;
  position: absolute;
}

.ContestsItemPrize__title {
  flex-wrap: wrap;
  white-space: pre-wrap;
}

.ContestPrize__winner {
  align-items: center;
  display: flex;
  gap: 16px;
}

.ContestPrize__winner img {
  width: 48px;
  height: 48px;
}

.promptCopy {
  z-index: 3;
  margin: 20px;
  max-width: 400px;
  padding: 30px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 16px;
  background: #131313;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.promptCopy__controls {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.promptCopy__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.promptCopy__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.promptCopy__item span {
  box-sizing: border-box;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px 16px;
  background: #2f2f2f;
  border-radius: 16px;
}

.TonSymbol {
  margin-left: 5px;
}

.ContestPrize__item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ContestPrize__place {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContestPrize__place_num {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
}

.ContestPrize__place_num.first {
  color: var(--main, #b0e822);
}

.ContestPrize__place_text {
  color: var(--white, #fff);
  text-align: center;
  font-size: 8px;
  font-weight: 600;
  line-height: normal;
  text-transform: lowercase;
  opacity: 0.5;
}

.ContestPrize__img {
  height: 34px;
}

.ended .ContestPrize__img {
  width: 48px;
  height: 48px;
}

.ContestPrize__img img {
  margin-top: -18px;
}
.total_prize {
  width: 48px;
  height: 48px;
}

.ContestWork__profile_img img {
  border-radius: 100%;
  max-width: 42px;
}

@media screen and (max-width: 500px) {
  .InfoPopout {
    padding: 8px;
  }
}

@media screen and (max-width: 380px) {
  div.Notification__btn {
    width: 100%;
  }
}
