.mainNav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: #0a0a0a; */
}

.mainNav__footer {
  z-index: 15;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 73px;
  background: #000000;
  backdrop-filter: blur(8px);
}

.mainNav__wrap {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  gap: 8px;
  background: #1c1c1c;
  border-radius: 16px 16px 0px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mainNav__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100px;
  height: 57px;
  backdrop-filter: blur(8px);
  border-radius: 16px;
  background: #1c1c1c;
}

.mainNav__item_active {
  background: #ffffff;
}

.mainNav__body {
  margin-bottom: 73px;
  width: 100%;
  background-color: #0a0a0a;
}
