.Contests {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  background-color: black;
  color: #ffffff;
}
.iphone .Contests__wrap {
  padding-top: 100px;
}
.Contests__wrap {
  position: relative;
  z-index: 3;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 16px 100px 16px;
  max-width: 490px;
}

div.Contests__controls {
  margin-bottom: 16px;
}

.Contests__energy {
  display: flex;
  align-items: center;
  max-height: 48px;
  box-sizing: border-box;
}

.Contests__energy {
  align-self: flex-start;
}

.Contests__items {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.iphone .ContestsItem {
  min-height: 400px;
  aspect-ratio: auto;
}

.ContestsItem {
  cursor: pointer;
  height: 100%;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 24px;
}

a.underline:hover {
  opacity: 0.7;
}

.ContestsItem__wrap {
  min-height: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 24px;
  padding-bottom: 0px;
}

.ContestsItem__header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.ContestsItem__title {
  text-shadow: rgb(0, 0, 0) 0px 0px 6px;
  margin-bottom: 4px;
}

.ContestsItem__desc {
  text-shadow: rgb(0, 0, 0) 0px 0px 6px;
  margin-bottom: 16px;
}

.ContestsItemPrize__logo img {
  max-width: 48px;
  box-sizing: border-box;
}

.ContestsItem__rules {
  color: #ffffff;
  font-weight: 500;
}

.ContestsItem__rules:hover {
  background: rgba(255, 255, 255, 0.205);
}

.addContest {
  margin-top: -40px;
}

.addContest__item {
  margin-bottom: 20px;
}

.addContest__btn {
  margin-top: 20px;
}

div.addContest__date > div {
  color: #000000 !important;
}

.ant-picker-header-view,
.ant-picker-cell-inner {
  color: inherit;
}

div.prize-items {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.addContest__item_title {
  margin-bottom: 5px;
}

.avatar-uploader > div {
  overflow: hidden;
  width: 300px !important;
  height: 300px !important;
}

.prizes-upload > div {
  width: 50px !important;
  height: 50px !important;
}
