.Loading {
  overflow: hidden;
  overflow-y: hidden;

  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #0a0a0a !important;
}

.Loading__percent {
  position: absolute;

  font-weight: 500;
  font-size: 52px;
  line-height: 100%;
  font-feature-settings: "ss04" on;
  z-index: 5;
  color: #ffffff;
}

.Loading__circle {
  transform: translate3d(0, 0, 0);
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

.Loading__title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;
  color: #ffffff;
  z-index: 5;
}

div.Loading__text {
  z-index: 5;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;
  color: #ffffff;
}

.Loading__text a {
  color: #ffffff;
}

.Loading__wrap {
  z-index: 999;
  box-sizing: border-box;
  padding: 50px 16px 16px 16px;
  max-width: 490px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 72px);
}

.Loading__body {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

div.Loading__desc {
  opacity: 0.3;
  max-width: 300px;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  z-index: 7;
}

.Loading__desc a {
  color: #ffffff;
}

.Loading__roundBack {
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  opacity: 0.6;
  filter: blur(107.638px);
  z-index: 3;
}

.Loading__background_glow {
  transform: translate3d(0, 0, 0);
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  opacity: 0.55;
  filter: blur(100px);
  transform: rotate(-180deg);
}

.Loading__background_blackoutdown {
  transform: translate3d(0, 0, 0);
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(0, 0, 0) -19.13%, #000000 100%),
    linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.5;
}

.Loading__background_blackoutup {
  transform: translate3d(0, 0, 0);
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.7;
}

.Loading__errorBtn {
  cursor: pointer;
  box-sizing: border-box;
  z-index: 99;
  padding: 16px 24px;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  border-radius: 16px;
}

.roundLoader {
  max-width: 300px;
  transform: translate3d(0, 0, 0);
  z-index: 99;
  transition: stroke-dasharray 0.2s ease-in-out;
}

.roundLoaderPath {
  transform: translate3d(0, 0, 0);
  transition: stroke-dasharray 0.2s ease-in-out;
}

.Loading__close {
  align-self: flex-start;
  cursor: pointer;
  z-index: 999 !important;
}

.roundLoaderPath {
  transform: translate3d(0, 0, 0);
  stroke-dasharray: 62.8, 188.4;
  stroke-dashoffset: 188.4;
  animation: roundLoaderAnimation 2s linear infinite;
}

@keyframes roundLoaderAnimation {
  from {
    stroke-dashoffset: 251.2;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.dot-flashing {
  margin-left: 20px;
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b0e822;
  color: #b0e822;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
}
.dot-flashing::before,
.dot-flashing::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b0e822;
  color: #b0e822;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #b0e822;
  color: #b0e822;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #b0e822;
  }
  50%,
  100% {
    background-color: rgba(255, 255, 255, 0.158);
  }
}

@media screen and (max-height: 650px) {
  .Loading__wrap {
    gap: 10px;
  }

  .Loading__circle {
    max-width: 250px;
  }
}
