.payEnergy {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.payEnergy__body {
  max-width: 490px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

div.benefits__title {
  font-size: 28px;
  margin-bottom: 24px;
  line-height: 100%;
}

.benefits {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.benefits__img {
  align-self: center;
  margin-top: -34px;
  margin-bottom: -29px;
}

.benefits__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.benefits__item {
  display: flex;
  align-items: center;
  gap: 10px;

  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.benefits__itemImg {
  margin-top: -5px;
}

.tariffs {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.tariffsItem {
  box-sizing: border-box;
  padding: 16px;
  cursor: pointer;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #161616;
  border-radius: 16px;
}

.tariffsItem__active {
  border: 1px solid #b0e822;
}

.tariffsItem__active .tariffsItem__img {
  background: #b0e822;
}

.tariffsItem__price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  font-feature-settings: "ss04" on;

  color: #ffffff;
}

.tariffsItem__title {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tariffsItem__img {
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #ffffff;
  opacity: 0.3;
  border-radius: 100%;
}

.payEnergy__btn {
  margin-bottom: 8px;
}

.payEnergy__info {
  width: 100%;
  text-align: center;
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
  opacity: 0.5;
}

.tariffsItem__discount {
  height: 25px;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  margin-top: -3px;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  border-radius: 9999px;
  padding: 2px 9px;
}
