.inquiry {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
}

.inquiry__body {
  max-width: 490px;

  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  padding: 66px 16px 56px 16px;
}

.inquiry__title {
  text-align: center;
  margin-bottom: 24px;
}

.inquiry__btn {
  bottom: 24px;
}

.inquiry__form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.inquiry__inputWrap {
  box-sizing: border-box;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  /* height: 72px; */
  padding: 24px 16px;
  background: #2f2f2f;
  border-radius: 16px;
}

.inquiry__inputWrap textarea {
  overflow: auto;
  max-height: 70px;
  padding: 0;
  resize: none;
  height: auto;
  margin-right: 12px;
}

.inquiry__inputWrap textarea::-webkit-scrollbar {
  width: 2px;
  background-color: #00000000;
}

.inquiry__inputWrap textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b0e822;
}

.inquiry__inputWrap stextarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #00000000;
}

.inquiry__inputWrap img {
  cursor: pointer;
}

div.inquiry__inputExample {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.inquiry__clearBtn {
  opacity: 0;
  transition: 0.5s;
}

.inquiry__clearBtn.displayed {
  opacity: 1;
  transition: 0.5s;
}

.inquiry__inputExample img {
  cursor: pointer;
  width: 20px;
}

.inquiry__inputExample span {
  margin-right: 10px;
}

.inquiry__inputExample_underline {
  cursor: pointer;
  margin-left: 8px;
  border-bottom: 1px solid #a0df46;
  line-height: 14px;
}

.inquiry__input {
  color: #ffffff;
  width: 100%;
  background: #2f2f2f;
  outline: none;
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  height: 60px;
  border: 0;
}

.inquiry__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inquiry__input:active {
  border: 0;
}
