.inquiry {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #0a0a0a;
  overflow-y: auto;
}

.inquiry::-webkit-scrollbar {
  width: 5px;
  background-color: #000000;
}

.inquiry::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b0e822;
}

.inquiry::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #00000000;
}

.inquiry__body {
  max-width: 490px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 16px 30px 16px;
}

.modePro .inquiry__body {
  height: 850px;
  display: block;
  padding-bottom: 0;
}

.inquiry__title {
  text-align: center;
  margin-bottom: 24px;
}

.inquiry__btn {
  bottom: 24px;
}

.inquiry__form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.modePro .inquiry__form {
  justify-content: flex-start;
  height: auto;
}

.inquiry__inputWrap {
  box-sizing: border-box;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 24px 16px;
  background: #2f2f2f;
  border-radius: 16px;
}

.inquiry__inputWrap-pro {
  margin-bottom: 30px;
}

.inquiry__inputWrap textarea {
  overflow: auto;
  max-height: 70px;
  padding: 0;
  resize: none;
  height: auto;
  margin-right: 12px;
}

.inquiry__inputWrap textarea::-webkit-scrollbar {
  width: 2px;
  background-color: #00000000;
}

.inquiry__inputWrap textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b0e822;
}

.inquiry__inputWrap stextarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #00000000;
}

.inquiry__inputWrap img {
  cursor: pointer;
}

div.inquiry__inputExample {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.inquiry__clearBtn {
  margin-left: 10px;
  opacity: 0;
  transition: 0.5s;
}

.inquiry__clearBtn.displayed {
  opacity: 1;
}

.inquiry__inputExample img {
  cursor: pointer;
  width: 20px;
}

.inquiry__inputExample span {
  margin-right: 10px;
}

.inquiry__inputExample_underline {
  cursor: pointer;
  margin-left: 8px;
  border-bottom: 1px solid #a0df46;
  line-height: 14px;
}

.inquiry__wrap {
  width: 100%;
  /* padding-bottom: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inquiry__controls {
  margin-bottom: 30px;
}

.inquiryPrompt__wrap {
  margin-bottom: 20px;
  width: 100%;
}

.vkuiSlider__dragger:before {
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%) !important;
}

.inquiryPrompt__slider {
  cursor: pointer;
  margin-bottom: 180px;
}

.styleSelection__pro {
  height: 40px;
  display: flex;
  align-items: center;
}

.styleSelection__pro span {
  font-size: 14px;
}

.styleSelection__pro .vkuiSwitch {
  --vkui--color_icon_accent: #b0e822;
}

.inquiry__hint {
  text-align: center;
  margin-bottom: 30px;
}
