@font-face {
  font-family: "MacPaw Fixel";
  src: url("./fonts/MacPawFixel-VF.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  font-family: "MacPaw Fixel";
  font-style: normal;
}

/* --------------------------- */

.title {
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;

  color: #ffffff;
}

.mini-title {
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.text {
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #787878;
}

.gradient-round {
  position: absolute;
  width: 395px;
  height: 395px;
  top: -213px;
  /* left: 50%; */
  background: linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  opacity: 0.3;
  filter: blur(200px);
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  border-radius: 16px;

  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.btn:hover {
  transition: 1s;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #cc9f2c 0%, #79d842 100%);
}

.closeBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 360.75px;
}

.backBtn {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 100%;
}

.backBtn:hover {
  background: rgba(255, 255, 255, 0.096);
}

.backBtn:active {
  background: rgba(255, 255, 255, 0.205);
}

.backBtn img {
  margin-left: -2px;
}

.title_accented {
  color: #b0e822;
}

.roundBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}
