/* Webfont: MacPawFixelText-Regular */
@font-face {
  font-family: "MacPaw Fixel";
  src: url("./assets/fonts/MacPawFixelText-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("./assets/fonts/MacPawFixelText-Regular.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  /* color: #ffffff; */
  font-weight: 600;
  font-family: "MacPaw Fixel";
  font-style: normal;
}

.vkui {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}

.vkuiEpic .vkuiPanel__in {
  padding-bottom: 0 !important;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #00000000;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #b0e822;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #00000000;
}

/* --------------------------- */

.title_h1-42px {
  font-weight: 700;
  font-size: 42px;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;
}

.title_h2-32px {
  font-size: 32px;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;
}

.title_h3-24px {
  font-size: 24px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.title_h4-18px {
  font-size: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.text_gray {
  font-weight: 500;
  font-size: 13px;
  opacity: 0.7;
}

.text_white {
  font-weight: 500;
  font-size: 13px;
}

.transparentBlock {
  padding: 4px 16px;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 99px;

  font-size: 13px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.transparentBlock_blur {
  padding: 8px;
  gap: 8px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 8px;

  display: flex;
  cursor: pointer;

  font-weight: 500;
  font-size: 17px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.transparentBlock_blur:hover {
  background: rgba(255, 255, 255, 0.1);
}

.transparentBlock_blur:active {
  background: rgba(255, 255, 255, 0.2);
}

.darkBlock {
  z-index: 2;
  user-select: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  font-weight: 400;
  border-radius: 99px;
}

.darkBlock:hover {
  background: rgba(0, 0, 0, 0.6);
}

.darkBlock:active {
  background: rgba(0, 0, 0, 0.5);
}

.roundBtn_blur {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 39px;
  height: 39px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 100%;
}

.roundBtn_blur img {
  margin-left: -2px;
}

.roundBtn_blur:hover {
  background: rgba(255, 255, 255, 0.1);
}

.roundBtn_blur:active {
  background: rgba(255, 255, 255, 0.2);
}

.roundedBlock_greenBroder {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #b0e822;
  border-radius: 16px;
}

.Filters {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  width: 100%;
  border-radius: 9px;
  padding: 4px;
  background: #2f2f2f;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
}

.Filter {
  cursor: pointer;
  width: 100%;
  background: #2f2f2f;
  border-radius: 8px;
  padding: 8px 0;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.Filter.active {
  background: #b0e822;
}

/* .slick-dots.slick-dots-bottom {
  z-index: 10 !important;
}

:where(.css-12jzuas).ant-carousel .slick-dots-bottom {
  bottom: auto !important;
} */

.ComplaintsList__controls {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.ComplaintsList {
  max-height: 500px;
  overflow: hidden;
}

.ComplaintsList__body {
  padding-right: 10px;
  max-height: 400px;
  overflow: auto;
}

.ServerCrash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #131313b6;
  opacity: 0;
  backdrop-filter: blur(8px);
}

.ServerCrash.active {
  z-index: 99;
  opacity: 1;
}

.ServerCrash__title {
  font-weight: 700;
  text-align: center;
  font-size: 32px;
}

/* OLD -> */

.title {
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;

  color: #ffffff;
}

.mini-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #787878;
}

.gradient-round {
  position: absolute;
  width: 395px;
  height: 395px;
  top: -213px;
  background: linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  background-color: #79d842;
  opacity: 0.4;
  filter: blur(200px);
  transform: translate3d(0, 0, 0);
  -webkit-filter: blur(200px);
  -moz-filter: blur(200px);
  -o-filter: blur(200px);
  -ms-filter: blur(200px);
}

.btn {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  border-radius: 16px;

  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.btn:hover {
  transition: 1s;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #cc9f2c 0%, #79d842 100%);
}

.closeBtn {
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 360.75px;
}

.closeBtn:hover {
  background: rgba(255, 255, 255, 0.096);
}

.closeBtn:active {
  background: rgba(255, 255, 255, 0.205);
}

.Header__controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backBtn {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 100%;
}

.backBtn:hover {
  background: rgba(255, 255, 255, 0.096);
}

.backBtn:active {
  background: rgba(255, 255, 255, 0.205);
}

.backBtn img {
  margin-left: -2px;
}

.text_accented {
  color: #b0e822;
}

.roundBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  backdrop-filter: blur(2px);
  border-radius: 24px;
}

.roundBtn:hover {
  background: rgba(0, 0, 0, 0.6);
}

.vkuiSplitLayout__inner {
  justify-content: center;
}

.Prompt__contols {
  margin-bottom: 8px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Prompt {
  cursor: pointer;
  padding: 4px 8px;
}

.Prompt__text {
  font-weight: 500;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Prompt:hover {
  opacity: 1;
  border-radius: 12px;
  background-color: #1a1a1a;
}

.Notification {
  align-self: center;
  box-sizing: border-box;
  z-index: -1;
  transition: 0.2s;
  /* min-width: 260px; */
  max-width: 350px;
  bottom: 94px;
  position: fixed;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 56px;
  background: #131313;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  opacity: 0;
  transform: scale(0.2);
}

.Notification span {
  font-size: 15px;
  font-weight: 500;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin-bottom: -3px;
}

.Notification.open {
  z-index: 2;
  opacity: 1;
  transform: scale(1);
}

.Notification img {
  width: 25px;
}

.Notification__btn {
  user-select: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
}

.Notification__btn img {
  max-width: 25px;
}

div.Notification__btn span {
  margin-bottom: -3px;
  display: flex;
  font-weight: 600;
  font-size: 17px;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.Notification__btn_addHistory {
  width: calc(50% - 4px);
  background: #a82be2;
}

.Notification__btn_addWall {
  width: calc(50% - 4px);
  background: #3375f6;
}

.Notification__btn_sendMessage {
  width: 100%;
  background: #9aca1e;
}

.Notification__btn_addHistory:hover {
  background: #8524b3;
}

.Notification__btn_sendMessage:hover {
  background: #79a018;
}

.Notification__btn_addWall:hover {
  background: #2b61ce;
}

.Tabbar {
  box-sizing: border-box;
  height: 72px;
  padding: 8px;
  background-color: #1c1c1c;
  backdrop-filter: blur(8px);
  border-radius: 16px 16px 0px 0px;
}

.vkuiTabbar__in {
  height: 100%;
  gap: 4px;
}

.vkuiTabbarItem {
  max-width: 150px !important;
  height: 100%;
  cursor: pointer;
}

.vkuiTabbarItem--selected {
  background: #ffffff;
  border-radius: 16px !important;
}

.modeProHint {
  margin-right: 5px;
  padding: 2px 8px;
  box-sizing: border-box;
  display: inline;
  background: #5e5e5e;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 12px;
}

.Notification__spinner {
  width: auto;
  margin-top: -2px;
}

.vkuiPopoutWrapper__overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(5px);
}

.NotFoundPage {
  z-index: 99;
  position: relative;
  overflow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  gap: 20px;
  background-color: black;
  box-sizing: border-box;
  padding: 50px 32px 100px 32px;
}

.NotFoundPage__title {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}

.NotFoundPage__text {
  color: #fff;
  max-width: 450px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.NotFoundPage__btn {
  margin-top: 30px;
  max-width: 300px;
}

.PayConfirm {
  display: flex;
  flex-direction: column;
  bottom: 0;
  max-width: 490px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  background: #131313;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px 32px 0px 0px;
}

.PayConfirm__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.PayConfirm__item {
  width: 100%;
  max-width: 370px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.PayConfirm__listTitle {
  line-height: 100%;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: -2px;
}

.PayConfirm__listMarker {
  width: 100%;
  max-width: 8px;
  height: 8px;
  background-color: var(--main, #b0e822);
  border-radius: 100%;
}

.PayConfirm__text {
  display: flex;
  font-weight: 500;
  gap: 4px;
}

div.PayConfirm__title {
  text-align: center;
  line-height: 114.5%;
  font-weight: 700;
  font-size: 32px;
  font-feature-settings: "ss04" on;
  color: #ffffff;
  margin-bottom: 16px;
}

.ArtCount__title {
  text-align: center;
  line-height: 114.5%;
  font-weight: 700;
  font-size: 32px;
  font-feature-settings: "ss04" on;
  color: #ffffff;
  margin-bottom: 16px;
}

.ArtCount {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 24px;
}

.ArtCount__block {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 56px;
  height: 56px;
  background: #181915;
  border-radius: 16px;
}

.ArtCount__btn {
  position: relative;
}

.ArtCount__btn svg {
  margin-top: -3px;
  margin-right: 5px;
}

.ArtCount__block:hover {
  background: #1f201c;
}

.ArtCount__minus div {
  height: 2px;
  width: 14px;
  background: #ffffff;
}

.ArtCount__plus div {
  width: 14px;
  height: 14px;
  position: relative;
}

.ArtCount__plus::before,
.ArtCount__plus::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
}

.ArtCount__plus::before {
  width: 14px;
  height: 2px;
}

.ArtCount__plus::after {
  width: 2px;
  height: 14px;
}

.ArtCount__total {
  cursor: text;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  height: 59px;
  width: 240px;
  border-radius: 16px;
  background: #181915;
}

.ArtCount__total input {
  padding: 0;
  margin-bottom: -6px;
  text-align: right;
  outline: none;
  width: 1ch;
  border: 0;
  font-weight: 500;
  font-size: 24px;
  font-feature-settings: "ss04" on;
  color: #ffffff;
  background: #181915;
  z-index: 99;
}

.ArtCount__total span {
  height: 28px;
  font-weight: 500;
  font-size: 24px;
}

.ArtCount__total::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.outOfEnergy {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.outOfEnergy__img {
  max-width: 170px;
  max-height: 170px;
  height: 100%;
}

.outOfEnergy__img_wrap {
  height: 170px;
  margin-top: -55px;
  margin-bottom: -30px;
}

.PayConfirm__btn {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  justify-content: center;
  border-radius: 16px;
  height: 56px;

  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #0c0c0c;
}

.PayConfirm__btn:hover {
  background: #c2c2c2;
}

.PayConfirm__btn:active {
  background: #b9b9b9;
}

.PayConfirm__pay svg {
  margin-top: -4px;
}

.PayConfirm__btn_text {
  color: #0c0c0c;
}

.PayConfirm__header {
  margin-bottom: 31px;
  align-self: center;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border-radius: 100px;
  width: 55px;
  height: 5px;
}

.Modal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6) !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.ModalWrap {
  color: #fff;
  max-height: 500px;
  align-self: center;
  box-sizing: border-box;
  padding: 24px;
  bottom: auto;
  height: auto;
  opacity: 0;
  z-index: 2;
  transition: 0.3s all;
  max-width: 488px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background: #131313;
  border-radius: 24px;
  transform: scale(0.2) !important;
}

.ModalWrap.open {
  opacity: 1;
  transform: scale(1) !important;
}

.ModalWrap__header span {
  font-weight: 700;
  font-size: 24px;
  line-height: 114.5%;

  font-feature-settings: "ss04" on;
  color: #ffffff;
}

.ModalWrap__header {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ModalWrap__btn {
  border-radius: 100%;
}

.ModalWrap__body {
  padding-right: 10px;
  margin-left: 10px;
  max-height: 400px;
  overflow: auto;
  width: 100%;
}

textarea {
  color: #fff !important;
}

.DeleteContestArt__btns {
  display: flex;
  gap: 10px;
}

div.DeleteContestArt__btn.cancel {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  background-color: rgb(175, 35, 35) !important;
}
div.DeleteContestArt__btn.cancel:hover {
  background-color: rgb(175, 35, 35) !important;
}

.SwipeModalWrap {
  color: #fff;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  max-width: 490px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  background: #131313;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px 32px 0px 0px;
  transition: 0.3s all;
  transform: translateY(550px);
}

.SwipeModalWrap.open {
  z-index: 28;
  transform: translateY(0px);
}

.SwipeModalWrap__header {
  margin-bottom: 31px;
  align-self: center;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.9;
  border-radius: 100px;
  width: 55px;
  height: 5px;
}

.SwipeModalWrap__body {
  max-height: 500px;
  width: 100%;
  overflow-y: auto;
  padding-right: 5px;
}
