/* Webfont: MacPawFixelText-Regular */
@font-face {
  font-family: "MacPaw Fixel";
  src: url("./assets/fonts/MacPawFixelText-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("./assets/fonts/MacPawFixelText-Regular.otf")
      format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

* {
  font-weight: 600;
  font-family: "MacPaw Fixel";
  font-style: normal;
  color: #ffffff;
}

body {
  /* overflow: hidden; */
}

.vkuiEpic .vkuiPanel__in {
  padding-bottom: 0 !important;
}

/* --------------------------- */

.title_h1-42px {
  font-weight: 700;
  font-size: 42px;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;
}

.title_h2-32px {
  font-size: 32px;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;
}

.title_h3-24px {
  font-size: 24px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.title_h4-18px {
  font-size: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.text_gray {
  font-weight: 500;
  font-size: 13px;
  opacity: 0.7;
}

.text_white {
  font-weight: 500;
  font-size: 13px;
}

.transparentBlock {
  padding: 4px 16px;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 99px;

  font-size: 13px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.transparentBlock_blur {
  padding: 8px;
  gap: 8px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 8px;

  display: flex;
  cursor: pointer;

  font-weight: 500;
  font-size: 17px;
  font-feature-settings: "tnum" on, "lnum" on;
}

.transparentBlock_blur:hover {
  background: rgba(255, 255, 255, 0.116);
}

.roundedBlock_greenBroder {
  background: rgba(0, 0, 0, 0.35);
  border: 1px solid #b0e822;
  border-radius: 16px;
}

/* OLD -> */

.title {
  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on, "ss04" on;

  color: #ffffff;
}

.mini-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #787878;
}

.gradient-round {
  position: absolute;
  width: 395px;
  height: 395px;
  top: -213px;
  background: linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  background-color: #79d842;
  opacity: 0.4;
  filter: blur(200px);
  transform: translate3d(0, 0, 0);
  -webkit-filter: blur(200px);
  -moz-filter: blur(200px);
  -o-filter: blur(200px);
  -ms-filter: blur(200px);
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #fcc63a 0%, #8bf54d 100%);
  border-radius: 16px;

  font-family: "MacPaw Fixel";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.btn:hover {
  transition: 1s;
  background: linear-gradient(
      0deg,
      rgba(33, 33, 33, 0.05),
      rgba(33, 33, 33, 0.05)
    ),
    linear-gradient(109.37deg, #cc9f2c 0%, #79d842 100%);
}

.closeBtn {
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 360.75px;
}

.closeBtn:hover {
  background: rgba(255, 255, 255, 0.096);
}

.closeBtn:active {
  background: rgba(255, 255, 255, 0.205);
}

.Header__controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backBtn {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 39px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 100%;
}

.backBtn:hover {
  background: rgba(255, 255, 255, 0.096);
}

.backBtn:active {
  background: rgba(255, 255, 255, 0.205);
}

.backBtn img {
  margin-left: -2px;
}

.text_accented {
  color: #b0e822;
}

.roundBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 24px;
}

.roundBtn:hover {
  background: rgba(0, 0, 0, 0.6);
}

.Notification {
  box-sizing: border-box;
  z-index: -1;
  transition: 0.2s;
  bottom: 80px;
  position: absolute;
  padding: 16px;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  height: 56px;
  background: #131313;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  font-size: 15px;
  font-weight: 500;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  opacity: 0;
}

.Notification.open {
  z-index: 155;
  opacity: 1;
  transform: translateY(0px);
}

.Notification__btn {
  user-select: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 16px;
}

.Notification__btn img {
  max-width: 25px;
}

div.Notification__btn span {
  margin-bottom: -3px;
  display: flex;
  font-weight: 600;
  font-size: 17px;
  font-feature-settings: "tnum" on, "lnum" on;

  color: #ffffff;
}

.Notification__btn_addHistory {
  background: #a82be2;
}

.Notification__btn_addWall {
  background: #3375f6;
}

.Notification__btn_sendMessage {
  background: #454545;
}

.Tabbar {
  box-sizing: border-box;
  height: 72px;
  padding: 8px;
  background-color: #1c1c1c;
  backdrop-filter: blur(8px);
  border-radius: 16px 16px 0px 0px;
}

.vkuiTabbar__in {
  height: 100%;
  gap: 4px;
}

.vkuiTabbarItem {
  max-width: 150px !important;
  height: 100%;
  cursor: pointer;
}

.vkuiTabbarItem--selected {
  background: #ffffff;
  border-radius: 16px !important;
}

/* Изменить !! */

.Gallery__prompt {
  margin-bottom: 8px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.Gallery__promptControls {
  display: flex;
  gap: 4px;
}

.Gallery__promptInfo {
  cursor: pointer;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}

.Gallery__promptControls svg {
  cursor: pointer;
}

.GalleryItem__likeControls {
  font-weight: 500;
  font-size: 13px;
  display: flex;
  align-items: center;
  font-feature-settings: "tnum" on, "lnum" on;
  color: #ffffff;
}

.GalleryItem__likeControls img {
  width: 24px;
}

.GalleryItem__nft {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 99px;
  background: linear-gradient(230.77deg, #6434b8 2.6%, #84219d 96.25%);
}
.Gallery__shareBtn {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.Gallery__shareBtn:hover {
  border-radius: 100%;
  background-color: #ffffff1a;
}

.GalleryItem__like {
  padding: 2px 8px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.GalleryItem__like:hover {
  border-radius: 100px;
  background-color: #ffffff1a;
}

.Gallery__promptInfo {
  padding: 2px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.Gallery__promptInfo:hover {
  border-radius: 100px;
  background-color: #ffffff1a;
}

.GalleryItem__likeControls {
  text-decoration: none;
  bottom: 16px;
  right: 16px;
  position: absolute;
  box-sizing: border-box;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 24px;
}

.GalleryItem__likeControls:hover {
  background: rgba(0, 0, 0, 0.6);
}

.GalleryItem__like {
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.GalleryItem__like span {
  font-weight: 500;
  font-size: 17px;
  color: #ffffff;
  font-weight: 500;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 26px;
}
